<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 하이라이트.js : 코드 하이라이트-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">

    <!-- //하이라이트.js : 코드 하이라이트-->
    <link rel='stylesheet' href='<%= css %>' />
    <title><%= title %></title>
  </head>
  <body>
    <%- body %>
  </body>

</html>
