<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 하이라이트.js : 코드 하이라이트-->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">

        <!-- //하이라이트.js : 코드 하이라이트-->
        <link rel='stylesheet' href='<%= css %>'/>
        <title><%- title %></title>

        <!-- 구글 애드센스 -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-5174613852112613",
                enable_page_level_ads: true
            });
        </script>
    </head>
    <body>
        <header class="site-header">
            <a class="site-title" href="http://dakbutfly.me">DakButFly 개발서</a>
        </header>
        <div class="page-content markdown-body">

            <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                <div class="post-content" itemprop="articleBody">
                    <%- body %>
                </div>
            <!-- disque 추가 할 곳 -->
            </article>
        </div>
    </body>
</html>
